<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<body>
    <h3>Welcome To Poll System</h3>
    <form method="post">
    {% csrf_token %}

    <style>
        #mybutton {
         position: relative;
         bottom: 50px;
         left: 1100px;
        }
       </style>
       <form action='/create_poll?username={{request.post.username}}' method='POST'>
        <button type="submit">Create poll</button>
        </form>
      
       <button type="submit">Profile</button>
    </form>
</body>
</html>