<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
</head>
<body>
    <h3>Sign In</h3>
    <form action="/poll_home" method="post">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter Your Username" Required>
    <br>
    <label for="">Password</label>
    <input type="text" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
    <br>
  
    <button type="submit">Sign In</button>

    </form>
    <script src="" async defer></script>
</body>
</html>